In [16]:
import pandas as pd
import numpy as np

In [57]:
df = pd.read_csv("responses.csv")

In [58]:
df.head(10)

,Timestamp,Roll Number,B.Tech. [CEO-325 CPM & PERT],B.Tech. [EEO-325 (b) Optimization Techniques],B.Tech. [MEO-325 Modelling and Simulation],B.Tech. [MEO -325 (a) Robotics],B.Tech. [ECO-325 (a) MEMS and Sensor Design],B.Tech. [ECO-325 (b) Telecommunication System],B.Tech. [CSO-324 Computer Graphics],B.Tech. [HUO-325 Dynamics of Behavioural Science in Industries],B.Tech. [CMO-320 (e) Bionanotechnology],B.Tech. [MAO-325(b) Statistical Testing and Quality Control],B.Tech. [MSO-326(a) Nanomaterials & Technology],B.Tech. [ENO-326 Energy & Environment]
0,1/10/2019 22:44:32,16545,1,2,3,4,5,6,7,8,9,10,11,12
1,1/10/2019 22:45:08,16555,12,1,2,3,4,5,6,7,8,9,10,11
2,1/10/2019 22:45:12,16577,1,2,3,4,5,6,7,8,9,10,11,12
3,1/10/2019 22:45:38,16544,1,3,2,4,5,6,7,8,9,10,11,12
4,1/10/2019 22:46:17,16578,1,2,5,4,3,6,7,8,9,11,10,12
5,1/10/2019 22:55:36,16213,4,3,1,2,5,6,7,8,9,10,11,12

In [59]:
df=df.drop("Timestamp",axis=1)

In [60]:
df.columns.str.split('[').str[1].str.split(']').str[0]

Index([                                                    nan,
                                          'CEO-325 CPM & PERT',
                         'EEO-325 (b) Optimization Techniques',
                            'MEO-325 Modelling and Simulation',
                                       'MEO -325 (a) Robotics',
                          'ECO-325 (a) MEMS and Sensor Design',
                        'ECO-325 (b) Telecommunication System',
                                   'CSO-324 Computer Graphics',
       'HUO-325 Dynamics of Behavioural Science in Industries',
                               'CMO-320 (e) Bionanotechnology',
          'MAO-325(b) Statistical Testing and Quality Control',
                       'MSO-326(a) Nanomaterials & Technology',
                                'ENO-326 Energy & Environment'],
      dtype='object')

In [61]:
rk = pd.read_csv('rank.csv',header=None)

In [62]:
rk.head(10)

       0  1
0  16545  2
1  16555  3
2  16577  1
3  16544  4
4  16578  5
5  16213  6

In [63]:
rk=rk.sort_values(by=[1])

In [77]:
for index, row in rk.iterrows():
    for ind,r in df.iterrows():
        print()

16545
16555
1
16544
16578
16213
1
16555
16577
16544
16578
16213
16545
12
16577
16544
16578
16213
16545
16555
16577
1
16578
16213
16545
16555
16577
16544
1
16213
16545
16555
16577
16544
16578
4